<form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-6 w-full pt-4">
  <div class="flex flex-col gap-1 w-full">
    <p-floatLabel variant="on">
      <input pInputText id="name" formControlName="name" class="w-full" />
      <label for="name">Nombre del perfil</label>
    </p-floatLabel>
  </div>

  <div class="grid grid-cols-2 gap-4 w-full">
    <div class="flex flex-col gap-1 w-full">
      <p-floatLabel variant="on">
        <p-inputNumber
          inputId="age"
          formControlName="age"
          styleClass="w-full [&>input]:w-full"
        ></p-inputNumber>
        <label for="age">Edad</label>
      </p-floatLabel>
    </div>

    <div class="flex flex-col gap-1 w-full">
      <p-floatLabel variant="on">
        <p-password
          inputId="pin"
          formControlName="pin"
          [feedback]="false"
          styleClass="w-full [&>input]:w-full"
        ></p-password>
        <label for="pin">PIN Secreto</label>
      </p-floatLabel>
    </div>
  </div>

  <div
    class="flex items-center justify-between p-4 bg-surface-50 dark:bg-surface-900 rounded-xl border border-surface-200 dark:border-surface-800"
  >
    <div>
      <h4 class="font-bold text-color">Administrador</h4>
      <p class="text-sm text-muted-color">Tendrá control total sobre las notas</p>
    </div>
    <p-toggleSwitch formControlName="is_admin"></p-toggleSwitch>
  </div>

  <div class="flex flex-col sm:flex-row gap-3">
    <p-button
      type="button"
      label="Cancelar"
      icon="pi pi-times"
      styleClass="w-full py-3 rounded-xl font-semibold p-button-outlined"
      [disabled]="isLoading()"
      (onClick)="handleCancel()"
    ></p-button>
    <p-button
      type="submit"
      label="Crear Perfil"
      icon="pi pi-check"
      styleClass="w-full py-3 rounded-xl font-bold"
      [loading]="isLoading()"
      [disabled]="profileForm.invalid || isLoading()"
    ></p-button>
  </div>
</form>
