<p-toolbar styleClass="bg-transparent border-none px-4 md:px-12 py-6">
  <ng-template #start>
    <div class="flex items-center gap-2 md:gap-3 select-none">
      <i class="pi pi-book text-2xl md:text-3xl text-primary"></i>

      <span
        class="font-black text-lg sm:text-xl md:text-2xl tracking-wide md:tracking-widest text-color whitespace-nowrap"
      >
        FAMILY NOTES
      </span>
    </div>
  </ng-template>

  <ng-template #end>
    <app-theme-toggle></app-theme-toggle>
  </ng-template>
</p-toolbar>
